.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  border: 0px solid blue;
}

#switch{
  position: absolute;
  top: 180px;
  left: 130px;
  width: 40px;
  background-color: red;}

#strict{
  position: absolute;
  top: 150px;
  left: 145px;
  width: 60px;
  background-color: black;
  color: white;
}

#reset{
  position:absolute;
  top: 150px;
  left: 100px;
}


canvas{
  margin: -1px 1px;
}


span{
  border: 1px solid black;
  position: absolute;
  top: 120px;
  left: 130px;
  width: 40px;
  text-align: center;
  color: white;
  background-color: black;
}
